h1{
    color: blue;
    font-family: Helvetica, sans-serif ;
    font-size: larger;
}
div{
    
   text-align: center;
    padding: 20 px;
    background-color: rgb(255, 60, 0);

}
p{
    color: brown;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
body{
    text-align: center;
    
}